.appbar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid rgb(200, 200, 200);
    >h1{
        font-family: 'Dosis';
        background: linear-gradient(90deg,rgba(2, 204, 197, 1) 0%, rgba(135, 135, 250, 1) 100%);
        background-clip: text;
        color: transparent !important;
    }
    >nav > ul {
        
        display: flex;
        list-style: none;
        flex-direction: row;
        margin-left: 25px;
        padding: 0;
        >li {
            text-decoration: none;

            transition: all 200ms ease-in-out;
            &:hover {
                text-decoration: underline;
                color: rgb(100, 100, 255);
            }
        }
    }
}