.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    >header {
        width: 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 40px;
        border-bottom: 1px solid rgb(180, 180, 180);
        >h1 {
            font-size: 6rem;
            text-align: center;
            margin-top: 2rem;
            font-family: 'Dosis';
            background: linear-gradient(90deg,rgba(2, 204, 197, 1) 0%, rgba(135, 135, 250, 1) 100%);
            background-clip: text;
            color: transparent !important;
        }
        >h2 {
            margin-top: 20px;
            font-size: 2rem;
            text-align: center;
            font-weight: 300;
        }
    }
    >.content {
        margin-top: 40px;
        width: 100%;
        display: flex;
        align-items: center;
        >.btn-box {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 50px;
            >a:not(:first-of-type){
                margin-left: 75px;
            }
        }
    }
}