@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-40%);
    }
    100% {
        transform: translateX(0);
    }
}

.fancy-background {
    width: 200vw;
    height: 150vh;
    rotate: -5deg;
    position: fixed;
    top: -25vh;
    left: 0;
    
    z-index: -1;
    filter:brightness(0.5) contrast(0.85) ;
    animation: scroll 90s ease-in-out infinite;
    >img {
        min-width: 10%;
        aspect-ratio: 1/1;
        max-height: 25%;
        float: left;
    }
}